<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book doctor appointment</title>
    </head>
    <body>

        <h3>Enter your name and reason for the appointment.</h3>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="reason">Reason</label>: <input type="text" name="reason" id="reason"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <!--
        *** A10 Unvalidated Redirects and Forwards ***
        Redirecting the user without a prompt exposes the feature to phishing attacks.
        Easiest fix for this particular application is replacing the redirect with the
        actual link since we aren't interested in outgoing traffic.
        -->
        <i><a href="/redirect/jhamberg.github.io/1b03fbf213a15b60914cabc74b8a7403/privacy.html">Read our privacy policy</a></i>
    </body>
</html>
