<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registered!</title>
    </head>
    <body>
        <p>There are <span th:text="${list.size()}">100</span> users before you:</p>


        <ul th:if="${list != null}">
            <!--
            *** A3 Cross-Site Scripting (XSS) ***
            Using utext in the template means that supplied input is not escaped and
            therefore certain inputs will be treated as active content in the browser.

            Fix: Change text to text
            -->
            <li th:each="item : ${list}">
                <span th:utext="${item}"></span>
            </li>
        </ul>
    </body>
</html>
